body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
